<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<!-- contenido -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-6">Datos del Empleador</div>
							<div class="col-6 text-right">
								<a type="button" th:href="@{/empleador/crear}"
									class="btn btn-outline-primary btn-sm mt-10" th:text="${bottomName}"></a>
							</div>
						</div>
					</div>
					<div class="card-body">
						<ul th:if="${mostrar!=false}">
							<li>Nombre: <label th:text="${empleador.nombre}" ></label></li>
							<li>Rut: <label th:text="${empleador.rut}" ></label></li>
							<li>Razon social: <label th:text="${empleador.razon_social}" ></label></li>
							<li>Direccion: <label th:text="${empleador.direccion}" ></label></li>
							<li>Correo Electronico: <label th:text="${empleador.email}" ></label></li>
							<li>Descripcion: <label th:text="${empleador.descripcion}" ></label></li>
							</ul>
							<span th:if="${mostrar==false}">Inicia ingresando los datos de tu empresa :)</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>