<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<a class="btn btn-primary" href="/jornadaLaboral/"
			style="text-align: right; align-items: flex-end;">Volver</a>
		<br> <br>
		<h3>Jornda Laboral</h3>
		<hr>
		<form action="#" th:action="@{/jornadaLaboral/}" th:object="${jornadaLaboral}" method="post">
			<div class="form-group">
				<label for="exampleFormControlInput1">Nombre: </label> <input
					th:field="*{nombre}" type="text" class="form-control" name="nombre" id="nombre"
					placeholder="Completo" required="required">
			</div>
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Descripcion</label>
				<textarea class="form-control" name="descripcion" id="descripcion"
					th:field="*{descripcion}"  rows="3" required="required"></textarea>
			</div>
			<div>
			<div class="form-group"><button type="submit" class="btn btn-success">Crear</button></div>
			
			</div>
		</form>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>