<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
		<!-- contenido -->
	<div class="container">
		<a class="btn btn-success" href="/jornadaLaboral/crear"
			style="text-align: right; align-items: flex-end;">Crear jornada laboral</a>
		<br> <br>
		<h3>Listado de Jornadas laborales</h3>
		<hr>
		<br>
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Descripci&oacute;n</th>
					<th>Editar</th>
					<th>Eliminar</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="jornadaLaboral : ${jornadaLaborales}">
					<th th:text="${jornadaLaboral.nombre}"></th>
					<td th:text="${jornadaLaboral.descripcion}"></td>
					<td ><a th:href="@{/jornadaLaboral/editar/}+${jornadaLaboral.id}" class="btn btn-warning">Editar</a></td>
					<td><a th:href="@{/jornadaLaboral/eliminar/}+${jornadaLaboral.id}" class="btn btn-danger">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>