<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<!-- contenido -->
	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-6">Datos del Empleador</div>
							<div class="col-6 text-right">
								<a type="button" th:href="@{/ofertaLaboral/listar}"
									class="btn btn-outline-primary btn-sm mt-10"
									>Volver</a>
							</div>
						</div>
					</div>
					<div class="card-body">
						<ul >
							<li>Nombre: <label th:text="${empleador.nombre}"></label></li>
							<li>Rut: <label th:text="${empleador.rut}"></label></li>
							<li>Razon social: <label th:text="${empleador.razon_social}"></label></li>
							<li>Direccion: <label th:text="${empleador.direccion}"></label></li>
							<li>Correo Electronico: <label th:text="${empleador.email}"></label></li>
							<li>Descripcion: <label th:text="${empleador.descripcion}"></label></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-6">Detalle de la oferta laboral</div>
						</div>
					</div>
					<div class="card-body">
						<ul>
							<li>Nombre: <label th:text="${ofertaLaboral.nombre}"></label></li>
							<li>Cargo: <label th:text="${cargo}"></label></li>
							<li>Categoria: <label th:text="${categoria}"></label></li>
							<li>Descripcion: <label
								th:text="${ofertaLaboral.descripcion}"></label></li>
						</ul>
						<div class="text-center">
						<a type="button" sec:authorize="hasAnyRole('COLABORADOR', 'ADMIN')" th:href="@{/postulacion/agregarpostulacion/}+${ofertaLaboral.id}"
									class="btn btn-outline-warning"
									>Agregar Postulacion</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<br>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>