<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<!-- contenido -->
	<div class="container">
		<div class="row"> 
			<div class="col">
				<br> <a class="btn btn-outline-primary" href="/colaborador/"
					style="text-align: right; align-items: flex-end;">Volver</a> <br>
				<br>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12 col-md-8 col-lg-8 col-xl-6">
				<br> 
				<br>
				<div class="row">
					<div class="col text-center">
						<h1 th:text="${titulo}">></h1>
					</div>
				</div>
				<form th:action="@{/colaborador/guardar/profesion}"
					th:object="${profesion}" method="post">
					<div class="form-group">
						<select class="form-control" th:field="${profesion.id}"
							id="profesionesEscogidas">
							<option value="0">Seleccionar profesión</option>
							<option th:each="profesion : ${profesiones}"
								th:value="${profesion.id}" th:text="${profesion.nombre}"></option>
						</select>
					</div>
					<br>
					<span th:if="${mostrarError}" class="alert alert-danger" role="alert">Ya tiene esta profesión agregada</span>
					<br>
					<br>
					<button class="btn btn-primary btn-lg btn-block">Guardar</button>
				</form>
				
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>